/* :root {
    --color0: #2E2B30;
    --color1: #4F1422;
    --color2: #FAD64A;
    --color3: #79539C;
    --color4: #DD7110;
    --color5: #823881;
    --color6: #751C2A;
    --color7: #BCCCCD;
} */

:root {
    --color0: #2E2B30;
    --color1: #635c68;
    --color2: #908697;
    --color3: #b7aac0;
    --color4: #d6c6e0;
    --color5: #e3d5ec;
    --color6: #e4d1f0;
    --color7: #f7ebff;
}

body {
    padding-top: 5vh;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-bottom: 5vh;
    background-color: var(--color0);
    overflow: hidden;
}

@media (orientation: portrait) {
    .viewport {
        height: 90vh;
        width: 90vw;
        display: block;
    }
    .workspace {
        padding-top: 4%;
        height: 58%;
        width: 90vw;
    }
    .img {
        border-radius: 5px;
        display: flex;
        height: 38%;
        width: 90vw;
        overflow-y: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(https://preview.redd.it/qx4nbscle7v71.jpg?width=960&crop=smart&auto=webp&s=b62f9d65c84ebacdf70c345a622ce32a1b26d44d);
    }
    .username {
        margin-top: 20vh;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        min-width: 30%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: xxx-large;
        background-color: rgba(0, 0, 0, 1);
        border-radius: 5px;
    }
    a {
        width: 100%;
        font-size: xx-large!important;
    }
}

@media (orientation: landscape) {
    .viewport {
        height: 90vh;
        width: 90vw;
        display: flex;
    }
    .workspace {
        padding-left: 4%;
        width: 58%;
    }
    .img {
        border-radius: 5px;
        display: flex;
        width: 38%;
        overflow-y: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(https://preview.redd.it/qx4nbscle7v71.jpg?width=960&crop=smart&auto=webp&s=b62f9d65c84ebacdf70c345a622ce32a1b26d44d);
    }
    .username {
        margin-top: 70vh;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        min-width: 30%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: xxx-large;
        background-color: rgba(0, 0, 0, 1);
        border-radius: 5px;
    }
    a {
        width: 100%;
    }
}

.searchbar {
    display: flex;
    width: 100%;
    height: 100px;
}

.searchpointer {
    width: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.searchinput {
    width: 95%;
}

.links {
    display: inline-grid;
    width: 100%;
}

.link {
    width: 100%;
}

a,
h1,
h3,
.searchinput {
    font-family: monospace;
    text-decoration: none;
    color: var(--color2);
    font-weight: 800;
}

@keyframes search-anim {
    from {
        width: 20%;
    }
    to {
        width: 100%;
    }
}

.searchinput {
    width: 100%;
    height: 30px;
    margin-top: 30px;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: var(--color2);
}

.searchinput:focus-visible {
    outline-width: 0px;
    outline-style: none;
    border-bottom-color: var(--color4);
    animation: search-anim 0.5s;
}

@keyframes a-selection-animations {
    from {
        margin-left: 0vw;
    }
    to {
        margin-left: 1vw;
    }
}

a:hover::before,
a:focus::before {
    content: '● ';
}

a::before {
    content: '○ ';
}

a:selection {
    /* background-color: var(--color4);
    padding-right: 10px;
    margin-left: 1vw; */
    color: var(--color4);
    outline: none;
    /* animation-name: a-selection-animations;
    animation-duration: 0.3s; */
}

a:hover {
    /* background-color: var(--color4);
    padding-right: 10px;
    margin-left: 1vw; */
    color: var(--color4);
    outline: none;
    /* animation-name: a-selection-animations;
    animation-duration: 0.3s; */
}

a:focus {
    /* background-color: var(--color4);
    padding-right: 10px;
    margin-left: 1vw; */
    color: var(--color4);
    outline: none;
    /* animation-name: a-selection-animations;
    animation-duration: 0.3s; */
}

@media (orientation: portrait) {
    h1,
    a {
        font-size: x-large;
    }
}

@media (orientation: landscape) {
    h1,
    a {
        font-size: x-large;
    }
}

button {
    background-color: var(--color0);
    border: solid 3px var(--color2);
    color: var(--color2);
    font-family: monospace;
    font-weight: 800;
    font-size: x-large;
    border-radius: 200px;
    max-width: 30px;
    max-height: 30px;
    margin-top: 30px;
}

button:focus,
button:hover {
    border: solid 3px var(--color4);
    color: var(--color4);
}

.entrycreator {
    display: inline-grid;
    grid-template-columns: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    padding: 50px;
    text-align: center;
    height: 400px;
    width: 400px;
    background-color: var(--color0);
    border-radius: 9px;
    border: solid 3px var(--color2);
}

.kbw {
    position: absolute;
}

.kbw::before {
    content: ':';
}

#kbwmarker-666-69-420 {
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    font-size: x-large;
    font-family: monospace;
    font-weight: 800;
}

#config {
    position: absolute;
    resize: none;
    height: 90vh;
    width: 90vw;
    padding: 0;
    margin: 0;
    color: var(--color7);
    background-color: var(--color0);
    outline: none;
    border: none;
    font-family: monospace;
    font-size: xx-large;
}

#config:focus-visible {
    outline: none;
    border: none;
}